<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</script>
    <title>Document</title>
</head>
<body>
    
    <center>
    <h1>Home</h1><img src="robot_logo.jpg" alt="" width="1000px" height="600px">
    
    {{> footer}}
    </center>
</body>
</html>